@font-face {
    font-family: 'GameBoy'; /* Choose a name for your font */
    src: url('/fonts/GameBoy.ttf') format('truetype'); /* Specify the path to your TTF file */
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* no scrollbars */
  height: 100%;
  width: 100%;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#loading {
    position: absolute;
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    font-weight: 10;
    font-size: 120px;
    font-style: normal;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    display: block;
    color: #ffffff;
}

#nintendo {
    font-family: 'GameBoy', sans-serif;
    position: absolute;
    top: -100px; /* Start offscreen */
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    /*height: 100px;*/
    font-size: 85px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    color: #2a301c;
    border-radius: 8px;
    opacity: 1;
    transition: top 3s linear;
}
